/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Flavors);

body {
	margin-top: 60px;
	background-color: #F8FFDE;
}

/*--- HOME PAGE ---*/
.home {
	position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	background: url('rainbow-ring.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}

.home-title {
	margin: auto;
	font-size: 75px;
	font-family: 'Flavors';
}

.home-title a {
	text-decoration: none;
	background: -webkit-linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .6;
}

.home-title a:hover {
	opacity: 1;
}
/*------------------*/

/*--- NAV BAR ---*/

#nav-main {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 45px;
	background-color: black;
}

#nav-main a {
	text-decoration: none;
	color: white;
}

.nav-title {
	display: inline-block;
	font-size: 30px;
	margin-top: 15px;
	padding-left: 30px;
}

.nav-links-all {
	float: right;
	color: white;
}

.nav-link {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.nav-link a:hover {
	background: -webkit-linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-user {
	background: -webkit-linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*------------------*/

/*--- AUDIO KITS ---*/

.audiokit-page-wrap {
	text-align: center;
}

.audiokit-title {
	display: inline-block;
	width: 750px;
	background: url('metal.jpg') no-repeat center center;
	border: 15px groove #B17B37;
  box-shadow: 0px 0px 45px;
}

.main-title {
	text-align: center;
	font-size: 45px;
	margin: 45px;
	color: black;
	text-shadow: 0px 0px 45px white;
}

.sounds-container {
	padding: 0;
	display: inline-block;
	width: 50%;
	background: url('rainbow-ring.gif') no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 15px groove #B17B37;
  box-shadow: 0px 0px 45px;
}

/*------------------*/

/*--- SOUNDPADS ---*/

.audio-pad {
	width: 100px;
	margin: auto;
}

.sounds-container {
	width: 630px;
	margin-top: 0 auto;
}

.sound-title {
	color: #FF00DC;
	margin-bottom: 0;
	display: inline;
	background-image: url('wood.jpg');
	padding: 3px;
	border: 3px groove #B17B37;
}

.sound {
	display: inline-block;
	width: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}

svg {
	width: 95px;
}
/*------------------*/

/*--- MISCELLANEOUS ---*/

.flash-msg {
	font-size: 18px;
	font-family: cursive;
	text-align: center;
}

/*------------------*/





