/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Flavors);

.home {
	position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	background: url('rainbow-ring.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}

#home-title {
	margin: auto;
	font-size: 75px;
	font-family: 'Flavors';
}

#home-title a {
	text-decoration: none;
	color: red;
	background: -webkit-linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .6;
}

#home-title a:hover {
	opacity: 1;
}

.audio-pad {
	width: 100px;
}

.sounds-container {
	width: 650px;
}

.sound {
	display: inline-block;
	width: 300px;
}

svg {
	width: 95px;
}
